{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to ProTracker!</title>

        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/login.css' %}" />
        <title>Welcome to ProTracker!</title>

    </head>
    <body>
      <header>
        <a class="logo" href="/"><img width="250px" height="60px" src="{% static 'media/header.png' %}" alt="logo"></a>
        <!-- <a class="cta" href="#">Tasks</a>
        <a class="cta" href="#">About</a>
        <a class="cta" href="#">Contact Us</a> -->

        <p class="menu cta">Menu</p>
    </header>
    <!-- <div class="overlay">
        <a class="close">×</a>
        <div class="overlay__content">
            <a href="#">Services</a>
            <a href="#">Projects</a>
            <a href="#">About</a>
        </div>
    </div> -->
     <link type="text/java" src="{% static 'js/header.js' %}"></link>

    <div class="container">
      <div class="text-left">
        <h2 style="text-align: center;">ProTracker - Task Managment Web App</h2>
        <br>
        <p style="text-align: center;"><b>ProTracker</b> gives users the confidence that everybody in their team is organized and accounted for. ProTracker is a web application built using <b>Django, Bootstrap, HTML, CSS and JavaScript</b> that is designed to track the allocation and completion of tasks which are assigned by the managers to their teams. It aims to solve issues arising from miscommunications of tasks during calls and meetings in today's online set-up. </p>
        <br>
        <p style="text-align: center;"> Our objective is to provide users with a clear overview of everything on their plate and never lose track of an important task.
          Protracker surfaces the right tasks at the right times so the users always know what to focus on next.</p>
        

      </div>
      <div class="forms-container">
        <div class="signin-aboutus">
          <form action="verify" class="sign-in-form" method='POST'>
          {% csrf_token %}

            <h2 class="title">Sign in</h2>

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="username" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password"  name="password" required/>
            </div>
               <!-- <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="roleType" id="manager_radio" value="manager" >
                <label class="form-check-label" for="manager_radio">
                  Manager 
                </label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="roleType" id="employee_radio" value="employee" checked>
                <label class="form-check-label" for="employee_radio">
                  Employee
                </label>
              </div> -->

              <div class="wrapper">
                <input type="radio" name="roleType" id="manager_radio" value="manager" >
                <input type="radio" name="roleType" id="employee_radio" value="employee" checked>

                <label for="manager_radio" class="option option-1">
                  <div class="dot"></div>
                    <span>MANAGER</span>
                  </label>

                <label for="employee_radio" class="option option-2">
                  <div class="dot"></div>
                    <span>EMPLOYEE</span>
                </label>
               </div>

            <button type="Submit" class="btn"> 
             LOGIN
            </button>

          </form>
          
          <!-- <form action="#" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" required />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" required />
            </div>
          </form> -->
         
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
             Welcome to ProTracker!
            </p>
            
            <button class="btn transparent" id="about-us-btn">
             ABOUT US
            </button>
          </div>
          <!-- <img src="image/logo.png" class="image" alt="" /> -->
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Login here!
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>

        </div>
      </div>
    </div>


   <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>