{% load static %}
<head>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
   <link src="https://code.jquery.com/jquery-3.5.1.min.js">
   </link>
   <link src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js">
   </link>
   <title>ProTracker</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Navbar</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
   <header>
      <a class="logo" href="/"><img width="250px" height="60px" src="{% static 'media/header.png' %}" alt="logo"></a>
      <a class="cta" href="/login">Logout</a>
      <p class="menu cta">Menu</p>
   </header>
   <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/taskpage.js' %}"></script>

   </br>
   </br>
   	
<div class="col-md-12 text-center">
	
  <h3>Welcome Back,{{username}}</h3>
	
</div>
	
</br>
	
</br>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="box box-aqua">
               <div class="box-header ui-sortable-handle" style="cursor: move;">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title">Tasks To Do</h3>
               </div>
               <div class="box-body">
                  <ul class="todo-list ui-sortable" ondrop="dropToBeDone(event)" ondragover="allowDrop(event)" id="to-be-done-ul" style="min-height:100px">
                     {% for task in tasks %}
                     <li id="task{{task.id}}" class="draggable" draggable="true" style="cursor: move;" ondragstart="drag(event)">
                        <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span class="text">{{task.title}}</span>
                        <small class="label label-info"><i class="fa fa-clock-o"> </i> <span  id="time"> {{task.date_created}} </span> </small>
                        <div class="tools">
                        </div>
                     </li>
                     {% endfor %}
                  </ul>
               </div>
               <div class="box-footer clearfix no-border">
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="box box-green">
               <div class="box-header ui-sortable-handle" style="cursor: move;">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title">Finished</h3>                  
                  <button type="button" class="btn btn-default pull-right" style=" font-size: 12px; margin-top: -3px;" onclick="clearTasks()">
                     <i class="fa fa-minus"></i> Clear Tasks
                  </button>
               </div>
               <div class="box-body" >
                  <ul class="todo-list ui-sortable" ondrop="drop(event)" ondragover="allowDrop(event)" id="completed-ul" style="min-height:100px">
                     {% for complete in completed %}
                     <li id="task{{complete.id}}" class="draggable" draggable="true" style="cursor:move" ondragstart="drag(event)">
                        <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>                        <i class="fa fa-ellipsis-v"></i>
                        </span>

                        <span class="text">{{complete.title}}</span>
                        <small class="label label-info"><i class="fa fa-clock-o"></i> <span id="time"> {{complete.date_created}}</span></small>
                        <div class="tools">
                        </div>
                     </li>
                     {% endfor %}

                  </ul>
               </div>
               <div class="box-footer clearfix no-border">

               </div>
            </div>
         </div>
      </div>
   </div>
</body>